// General
h1
    :font-size 1.5em
section h1
    :font-size 1.2em
//Sudoku Board and controls
#board
    table
        :text-align center
    td
        :font-weight bold
    input
        :font-weight none
        :width 20px

