// General
header
    :font-size 1.5em
    :margin 0
    :padding 0
    :background-color #51718C
    :font-color white
    :font-weight bold

section h1
    :font-size 1.2em

body
    :background-color #D8E3EC
    :height 100%
    :padding 0
    :margin 0

.error
    :background-color red

#contentWrapper
    :margin 0px auto
    :width 800px
    :text-align center
    :background-color white
    :height 100%
    section
        :position relative

//Sudoku Board and controls
#board
    :border-collapse collapse
    :border 1px solid black
    :margin 5px auto
    input
        :font-weight none
        :text-align center
        :width 20px
    td, input[disabled]
        :font-weight bold
    tr.grid
        :border-top 1px solid black
    td.grid
        :border-left 1px solid black
    input.hfilled
        :font-weight bold
        :color green
    input[data-hint]
        :background-color green

.left
    :float left

.right
    :float right

#difficulty
    :background-color #51718C
    :padding 10px 0
    :position absolute
    :left 0
    :top 20px
    :width 34px
    button
        :width 30px
        :margin-left 0

#dimensions
    input[type=number]
        :width 40px

#help
    :display none

#controls
    :padding-bottom 2em
    p
        :margin 5px 0 0 0

#results
    :border 1px solid black
    :width 300px
    :margin 0 auto
    :background-color #D8E3EC
    h1
        :background-color #51718C
        :padding 0
        :margin 0
        :border-bottom 1px solid black

// Fance error box
aside.errBox, aside.hintBox
    :height 20px
    :right 5px
    :top 5px
    :position absolute
    :witdh 100px

// borders
.bottom-border
    :border-bottom-left-radius 50px 25px
    :border-bottom-right-radius 50px 25px
    :-moz-border-bottom-left-radius 25px 25px
    :-moz-border-bottom-right-radius 25px 25px

.right-border
    :border-top-right-radius 50px 25px
    :border-bottom-right-radius 50px 25px
    :-moz-border-top-right-radius 25px 25px
    :-moz-border-bottom-right-radius 25px 25px

