%h1 Sudoku on Rails... you're new best friend
%section#board
    %h1 -Your Game Board-
    %table
        -for y in 1..9
            %tr
                -for x in 1..9
                    %td
                        %input{ :type=>'text' }

%section#controls
    #dimensions
        %input#width{ :type=>'number', :min => 2, :max => 7, :value => 3}
        x
        %input#height{ :type=>'number', :min => 2, :max => 7, :value => 3}
    %input#init{ :type=>'button', :value=>'Initialize' }

