header {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #51718c;
  font-color: white;
  font-weight: bold; }

section h1 {
  font-size: 1.2em; }

body {
  background-color: #d8e3ec;
  height: 100%;
  padding: 0;
  margin: 0; }

.error {
  background-color: red; }

#contentWrapper {
  margin: 0px auto;
  width: 800px;
  text-align: center;
  background-color: white;
  height: 100%; }
  #contentWrapper section {
    position: relative; }

#board {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 5px auto; }
  #board input {
    font-weight: none;
    text-align: center;
    width: 20px; }
  #board td, #board input[disabled] {
    font-weight: bold; }
  #board tr.grid {
    border-top: 1px solid black; }
  #board td.grid {
    border-left: 1px solid black; }
  #board input.hfilled {
    font-weight: bold;
    color: green; }
  #board input[data-hint] {
    background-color: green; }

.left {
  float: left; }

.right {
  float: right; }

#difficulty {
  background-color: #51718c;
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 20px;
  width: 34px; }
  #difficulty button {
    width: 30px;
    margin-left: 0; }

#dimensions input[type=number] {
  width: 40px; }

#help {
  display: none; }

#controls {
  padding-bottom: 2em; }
  #controls p {
    margin: 5px 0 0 0; }

#stats {
  border: 1px solid black;
  width: 300px;
  margin: 0 auto 10px;
  background-color: #d8e3ec;
  display: none; }
  #stats h1 {
    background-color: #51718c;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black; }

aside.errBox, aside.hintBox {
  height: 20px;
  right: 5px;
  top: 5px;
  position: absolute;
  witdh: 100px; }

.bottom-border {
  border-bottom-left-radius: 50px 25px;
  border-bottom-right-radius: 50px 25px;
  -moz-border-bottom-left-radius: 25px 25px;
  -moz-border-bottom-right-radius: 25px 25px; }

.right-border {
  border-top-right-radius: 50px 25px;
  border-bottom-right-radius: 50px 25px;
  -moz-border-top-right-radius: 25px 25px;
  -moz-border-bottom-right-radius: 25px 25px; }
